/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	border: 1px solid red;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}


@font-face {
	font-family: "JetBrainsMono";
	src: url('./resources/fonts/JetBrainsMono.ttf');
}

body {
	font-family: "JetBrainsMono";
	background-color: #2b2b2b;
	color: #78c;
}

a {
	color: #78C;
	text-decoration: none;
}

a:hover {
	color: #f07;
}

a:visited {
	color: #66b;
}

a:active {
	color: #99a;
}

h1 {
	font-size: 108px;
	font-weight: 900;
	line-height: 0.9em;
	margin-bottom: 42px;
}

h2 {
	font-size: 24px;
}

img {
	height: 42px;
}

#Header {
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	height: 3rem;
}

#Content {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	height: 95vh;
	gap: 24px;
	padding-top: 15%;
	padding-left: 4rem;
	padding-right: 4rem;
}

#Content div {
	height: 200px;
}

.Hero {
	margin-bottom: 124px;
}

.About {
	text-align: center;
}

.Links {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.Links a {
	height: 42px;
}

#Footer {
	width: 100%;
	text-align: center;
	/* padding-bottom: 0.7em; */
	max-height: 1.2em;
	align-self:center;
	font-size: 12px;
}

/* END CSS RESET */
/**/
/* @font-face { */
/* 	font-family: "JetBrainsMono"; */
/* 	src: url('./resources/fonts/JetBrainsMono.ttf'); */
/* } */
/**/
/* body { */
/* 	background-color: #2b2b2b; */
/* 	font-family: "JetBrainsMono"; */
/* 	/* height: 100%; */ */
/* } */
/**/
/* a { */
/* 	color: #78C; */
/* 	text-decoration: none; */
/* } */
/**/
/* a:hover { */
/* 	color: #f07; */
/* } */
/**/
/* a:visited { */
/* 	color: #66b; */
/* } */
/**/
/* a:active { */
/* 	color: #99a; */
/* } */
/**/
/* .Header { */
/* 	background-color: #2b3b4b; */
/* 	padding: 0 1rem; */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* 	gap: 24px; */
/* 	height: 3rem; */
/* } */
/**/
/* .iIcon { */
/* 	height: 42px; */
/* } */
/**/
/* .Content { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: space-evenly; */
/* 	align-items: flex-start; */
/* 	/* gap: 10rem; */ */
/* 	color: #78c; */
/* 	padding-top: 4rem; */
/* } */
/**/
/* .Hero, .LinksContainer { */
/* 	height: 40vh; */
/* 	flex-shrink: 1; */
/* } */
/**/
/* /* .Hero, */ */
/* /* .LinksContainer { */ */
/* /* 	padding: 0 2rem; */ */
/* /* 	display: flex; */ */
/* /* 	flex-direction: column; */ */
/* /* 	align-items: flex-start; */ */
/* /* 	gap: 4rem; */ */
/* /* } */ */
/**/
/* /* .LinksContainer { */ */
/* /* 	gap: 2rem; */ */
/* /* } */ */
/**/
/* .Links { */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	gap: 24px; */
/* } */
/**/
/* .tTitle { */
/* 	font-weight: 900; */
/* 	font-size: 108px; */
/* 	line-height: 0.9em; */
/* } */
/**/
/* .LinksContainer .tTitle { */
/* 	font-weight: 400; */
/* 	font-size: 24px; */
/* } */
/**/
/* .tText { */
/* 	font-size: 18px; */
/* } */
/**/
/* .tSmol { */
/* 	font-size: 12px; */
/* } */
/**/
/* .Footer { */
/* 	/* position: fixed; */ */
/* 	/* left: 0; */ */
/* 	/* bottom: 0; */ */
/* 	/* width: 100%; */ */
/* 	/* text-align: center; */ */
/* 	/* padding-bottom: 0.7em; */ */
/* 	color: #78c; */
/* 	max-height: 1.2em; */
/* 	align-self:center; */
/* } */
